<div class="container">
    <div class="row">
        
        <div class="col-md text-center" id="made">
            <h2 class="text-warning">-Burgers Made-</h2>
            <ul>
            {{#each burger}}
                {{#unless devoured}}
                    {{> burger/burger-block devoured=true}}
                {{/unless}}
            {{/each}}
            </ul>
        </div>
        
        <div class="col-md text-center">
            <h2></h2>
        </div>
        
        <div class="col-md text-center" id="devoured">
            <h2 class="text-warning">-Burgers Devoured-</h2>
            <ul>
            {{#each burger}}
                {{#if devoured}}
                
                {{/if}}
            {{/each}}
            </ul>
        </div>
           
    </div>
    <br>
    <br>
    <br>
    <div class="container text-center">
        <h4 class="col-md">
            <textarea id="textarea" rows="3"></textarea>
            
        </h4>
        <button type="button" class="btn btn-outline-warning" id="make-it">Make a Burger</button>
    </div>
    
</div>
<script src="/assets/js/burgers.js"></script>